<div class="container pb-5 mb-5 text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="second-title border-bottom my-5 px-4 pb-2">What I Do</h2>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-md-4 mb-4 mb-md-0">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
    <div class="col-md-4">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-4 mb-4 mb-md-0">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
    <div class="col-md-4 mb-4 mb-md-0">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
    <div class="col-md-4">
      <app-ido-item
        title="Web Design"
        icon="../../../assets/code.png"
        content="dantium eaque,cipit deleniti nostrum amet. Corporis assumenda libero sequi harum quibusdam quisquam inventore.
            "
      ></app-ido-item>
    </div>
  </div>
</div>
