<div class="container-fluid bg-light pb-5">
  <div class="container">
    <div class="row text-center justify-content-around">
      <div class="col-12">
        <h2 class="second-title border-bottom my-5 px-4 pb-2">My Projects</h2>
      </div>
      <div class="col-12 m-0">
        <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
          <mat-tab label="Web Development">
            <app-project-item></app-project-item>
          </mat-tab>
          <mat-tab label="Artificial Inglegence">Content 2</mat-tab>
          <mat-tab label="Machine learning">Content 3</mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
