<div class="container my-md-4" id="about">
  <div class="row text-center justify-content-around">
    <div class="col-12">
      <h2 class="second-title border-bottom my-5 px-4 pb-2">About</h2>
    </div>
    <div class="col-md-5 text-start">
      <h3 class="fw-bolder">Personal Details :</h3>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, culpa.
        Sit maxime sed rerum? Architecto distinctio enim nostrum delectus ipsam
        dignissimos omnis, ea eaque aut porro neque nemo accusamus natus.
      </p>
      <div class="row mt-4">
        <app-about-item
          ngClass="col-md-6 col-12"
          *ngFor="let item of aboutMe"
          [field]="item.field"
          [fieldValue]="item.fieldValue"
        ></app-about-item>
      </div>
      <div class="row mt-4">
        <hr />
        <div class="col-12 mb-md-0 mb-5">
          <app-icon-set [align]="true"></app-icon-set>
        </div>
      </div>
    </div>
    <div class="col-md-5 text-start">
      <h4 class="fw-bolder">Skills:</h4>
      <app-skills></app-skills>
    </div>
  </div>
  <div class="row my-5 justify-content-around">
    <div class="col-md-5 py-3">
      <app-big-skill
        *ngFor="let item of bigSkills"
        [title]="item.title"
        [text]="item.text"
        [iconName]="item.iconName"
      ></app-big-skill>
    </div>
    <div class="col-md-5 text-center">
      <img
        src="../../../assets/12.jpeg"
        alt="stand photo"
        class="w-75 rounded-1"
      />
    </div>
  </div>
</div>
