<div class="container-fuild bg-light py-5">
  <div class="row text-center">
    <div class="col-12">
      <h2 class="second-title border-bottom px-4 pb-2">My Experience</h2>
    </div>
  </div>

  <div class="container pt-5 pb-3 bg-light position-relative">
    <div class="row vLine">
      <div class="col-md-1" [style]="{ zIndex: 3 }">
        <img
          src="../../../assets/graduation.png"
          class="rounded-circle border p-3 bg-warning bg-gradient"
          alt="customer"
          width="64px"
        />
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="px-5 py-4 bg-white col-md-4 text-center box arrow-left">
            <h2 class="second-title pb-4">title rrrrrrrrrrrrrrrrrrrr</h2>
            <p class="m-0 text-uppercase">companey name rrrr</p>
          </div>
          <div class="px-5 py-4 bg-warning bg-gradient col-md-8 text-white">
            <h2 class="text-uppercase">title</h2>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis in non quaerat beatae neque velit quod! Dicta
              doloremque ratione voluptas facere eveniet. Sit rem molestiae
              magni similique in consectetur!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5 pb-3 bg-light position-relative">
    <div class="row vLine">
      <div class="col-md-1" [style]="{ zIndex: 3 }">
        <img
          src="../../../assets/graduation.png"
          class="rounded-circle border p-3 bg-warning bg-gradient"
          alt="customer"
          width="64px"
        />
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="px-5 py-4 bg-white col-md-4 text-center box arrow-left">
            <h2 class="second-title pb-4">title rrrrrrrrrrrrrrrrrrrr</h2>
            <p class="m-0 text-uppercase">companey name rrrr</p>
          </div>
          <div class="px-5 py-4 bg-warning bg-gradient col-md-8 text-white">
            <h2 class="text-uppercase">title</h2>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis in non quaerat beatae neque velit quod! Dicta
              doloremque ratione voluptas facere eveniet. Sit rem molestiae
              magni similique in consectetur!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-5 pb-3 bg-light position-relative">
    <div class="row vLine">
      <div class="col-md-1" [style]="{ zIndex: 3 }">
        <img
          src="../../../assets/graduation.png"
          class="rounded-circle border p-3 bg-warning bg-gradient"
          alt="customer"
          width="64px"
        />
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="px-5 py-4 bg-white col-md-4 text-center box arrow-left">
            <h2 class="second-title pb-4">title rrrrrrrrrrrrrrrrrrrr</h2>
            <p class="m-0 text-uppercase">companey name rrrr</p>
          </div>
          <div class="px-5 py-4 bg-warning bg-gradient col-md-8 text-white">
            <h2 class="text-uppercase">title</h2>
            <p class="m-0">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
              blanditiis in non quaerat beatae neque velit quod! Dicta
              doloremque ratione voluptas facere eveniet. Sit rem molestiae
              magni similique in consectetur!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
