<div class="container-fluid bg-light px-0 pt-4 mt-4">
  <div class="container">
    <footer class="py-5">
      <div class="row">
        <div class="col-3">
          <h5 class="fw-bold">ABOUT ME</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            doloribus ducimu.
          </p>
        </div>

        <div class="col-3">
          <h5 class="fw-bold">PHONE & EMAIL</h5>
          <p class="text-muted">+989359262884</p>
          <p class="text-muted">sepehrtvk@gmail.com</p>
        </div>

        <div class="col-3">
          <h5 class="fw-bold">ADDERESS</h5>
          <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio
            doloribus ducimus magnam autem assumenda doloremqueovident.
          </p>
        </div>

        <div class="col-3">
          <h5 class="fw-bold">SOCIAL MEDIA</h5>
          <app-icon-set [align]="false"></app-icon-set>
        </div>
      </div>

    </footer>
</div>
<div
  class="d-flex justify-content-center py-4 my-4 border-top text-muted"
>
  <p>Sepehr Tavakoli © All rights reserved.</p>
</div>
</div>
