<div class="parallax">
  <div class="card text-center my-md-0 my-3">
    <div class="card-block px-md-5 py-md-4 px-2">
      <img src="../../../assets/school.png" alt="schoolIcon" />
      <p class="fw-bolder fs-5 mt-3">Uni Name</p>
      <p class="fw-bold fs-6 mt-3" style="color: #f44336">
        master of thechnology
      </p>
      <p class="fw-bold">2022-2021</p>
      <p>
        Est aliquam quasi molestias! 
        quas.
      </p>
    </div>
  </div>
  <div class="card text-center my-md-0 my-3">
    <div class="card-block px-md-5 py-md-4 px-2">
      <img src="../../../assets/pencil-and-ruler.png" alt="schoolIcon" />
      <p class="fw-bolder fs-5 mt-3">Uni Name</p>
      <p class="fw-bold fs-6 mt-3" style="color: #f44336">
        master of thechnology
      </p>
      <p class="fw-bold">2022-2021</p>
      <p>
        Est aliquam quasi molestias! 
        quas.
      </p>
    </div>
  </div>
  <div class="card text-center my-md-0 my-3">
    <div class="card-block px-md-5 py-md-4 px-2">
      <img src="../../../assets/pencil-and-ruler.png" alt="schoolIcon" />
      <p class="fw-bolder fs-5 mt-3">Uni Name</p>
      <p class="fw-bold fs-6 mt-3" style="color: #f44336">
        master of thechnology
      </p>
      <p class="fw-bold">2022-2021</p>
      <p>
        Est aliquam quasi molestias! 
        quas.
      </p>
    </div>
  </div>
</div>
