<div class="d-flex" [ngClass]="{'justify-content-around': align }"> 
  <a href="#" class="me-4">
    <img src="../../../assets/logo-whatsapp.svg" alt="whatsapp" width="20px" />
  </a>
  <a href="#" class="me-4">
    <img src="../../../assets/logo-instagram.svg" alt="logo-instagram" width="20px" />
  </a>
  <a href="#" class="me-4">
    <img src="../../../assets/logo-linkedin.svg" alt="logo-instagram" width="20px" />
  </a>
  <a href="#">
    <img src="../../../assets/logo-github.svg" alt="logo-github" width="20px" />
  </a>
</div>
