<div class="container py-5">
  <div class="row justify-content-center text-center">
    <div class="col-12">
      <h2 class="second-title border-bottom my-5 px-4 pb-2">What Next ?</h2>
    </div>
    <div class="col-md-8">
      <p class="fw-light" >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
        accusamus necessitatibus ipsum natus eaque velit commodi quod voluptatem
        quas tempore blanditiis totam reiciendis voluptate nostrum eos sint
        distinctio, laboriosam iste. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Quam modi debitis quia repellat aperiam, tempora
        quibusdam! Non consequatur sequi assumenda amet culpa, illum et sunt vel
        perferendis aspernatur. Quas, recusandae?
      </p>
      <div class="d-flex justify-content-center w-100 mt-4">

          <button mat-raised-button color="basic" class="me-md-2">Services</button>
          <button mat-raised-button color="warn">Let's Work Togheder</button>
      </div>

    </div>
  </div>
</div>