<div class="container-fluid bg-light">
  <div class="row text-center justify-content-center">
    <div class="col-md-5 mt-5 pt-5">
      <div class="row text-start">
        <div class="col-12">
          <h4>Hello its Sepehr Tavakoli</h4>
        </div>
        <div class="col-12 mb-2">
          <h1>I'm a Developer</h1>
        </div>
        <div class="col-12 mb-5">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit
            iste accusantium autem incidunt magni nesciunt voluptas voluptates
            natus officia ex quia inventore odio.
          </p>
        </div>
        <div class="col-12">
            <button mat-raised-button color="warn">Hire Me Now</button>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <img src="../../../assets/IMG_6323.png" alt="my photo" width="280px" />
    </div>
  </div>
</div>
